body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.navBar {
    text-align: center;
    border:none;
    height: 6rem;
    width: 100%;
    background: radial-gradient(rgb(235, 217, 62), rgb(255, 116, 62));
    transition: all 5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.title {
    width: fit-content;
    margin: auto;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 900;
}

.customBtn {
    font-size: 2rem;
    border-radius: 20%;
}

.gameCont {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 1rem;
    justify-content: space-between;
    background:radial-gradient(white, rgb(192, 201, 201)) ;
    bottom: 0;
    position: absolute;
    width: 90vw;
    height: 2vh;
    border: 2px solid;
    transition: all 5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#loadBtn {
    width: fit-content;
    align-self: top;
}
#svgCont{
    height: 100%;
    width: 50rem;
    border: 1px dashed;
    box-sizing: border-box;
}
.imgCont {
    height: 600px;
    width: 150px;
    border: 2px dashed brown;
    display: flex;
    flex-direction: column;    
}

.images {
    height: 8rem;
    width: 6rem;
    margin: 10px;
    object-fit: contain;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}
.viewCont{
    width: calc(100% - 50rem);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    bottom: 0;
    position: relative;
    bottom: 0;
    position: relative;
    overflow: hidden;
}
.score{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: fit-content;
    margin-left: 1rem;
}
.score > label {
    margin: 2rem;
}
#correctScore{
    height: 4rem;
    width: 4rem;
    background-image: url(/static/images/icons/thumbs-up.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#wrongScore{
    height: 4rem;
    width: 4rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/static/images/icons/thumbs-down.png);
}
.matchBtn{
    height: 4rem;
    width: 6rem;
    font-size: 1.2rem;
    margin: 2rem;
    border-radius: 20px;
}
