@media(max-width: 880px){
    html {
        font-size: 10px;
    }
}
@media (max-width:600px) {
    html{
        font-size: 8px;
    }
}

.customBtn{
    color: black;
    font-weight:900;
    
}
.customBtn:hover{
    cursor: pointer;
    border-top: white;
    border-left: white;
    font-weight:900;
    box-shadow: 2px 2px 10px 0px;
}
.customBtn:active{
    border-top: white;
    border-left: white;
}
.finalPath{
    z-index: -1;
}
.categories{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto;
    height: 50vh;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: all 5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.categoryBtn{
    height: 4.5rem;
    width: 7rem;
    font-size: 1.5rem;
    border-radius: 20px;
}
.categoryBtn:hover {
    border-top: white;
    border-left: white;
}
.gameControl{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    left: -100%;
    transition: left 5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
body {
    background:linear-gradient(to left,#ebd93e, #ff743e);
    animation: color-transition 8s ease-out infinite; /* Animation properties */
}

@keyframes color-transition {
    0% {
        background:linear-gradient(to left,#ebd93e, #ff743e); /* Starting color */
        background-position: 0 0; /* Starting position */
    }
    25% {
        background:linear-gradient(to right,#ff743e, #ebd93e);
        background-position: 100% 0;
    }
    50% {
        background:linear-gradient(to top, #ff743e, #ebd93e); 
        background-position: 100% 100%;
    }
    75% {
        background:linear-gradient(to bottom,#ff743e, #ebd93e); 
        background-position: 0 100%;
    }
    100% {
        background:radial-gradient(#ebd93e, #ff743e);
        background-position: 0 0;
    }
}